Results from a call to /AuditLog corresponding to a sequence of Vent, Open, Close, Pump, Chamber Clean
99476: last action before starting sequence
77-80: Vent
80: Open (no output in audit)
81: Close
82: Pump